@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-8">

        @if (this.User.IsInRole("Администратор"))
        {
            <span>
                 @Html.Action("Statistics", "Task")
            </span>
        }
    </div>
    <div class="col-md-4">
        
    </div>
</div>