<p>Сводка по задачам</p>
<ul>
    <li>
        Завершено на текущей неделе : @ViewBag.DoneTasksCount
    </li>
    <li>
        Вернулось повторно в работу на текущей неделе : @ViewBag.ReopenedTasksCount
    </li>
</ul>
